/*
Theme Name: Everest Child
Theme URI: http://pojo.me/
Description: Child theme for the Everest theme
Version: 1.0.0
Author: Pojo
Author URI: http://pojo.me/
Text Domain: pojochild
Template: everest
*/

/**
* YOUR CSS CODE, PUT IN assets/css/style.css
* FOR RTL, PUT IN assets/css/rtl.css
*/