#main {
    padding: 0;
}

.categoryProductsList #breadcrumbs,
.single-product #breadcrumbs {
    display: none;
}

.single-product .woocommerce-breadcrumb {
    text-align: end;
    padding: 0 15px;
    line-height: 60px;
    margin-bottom: 15px;
}

.categoryProductsContainer .col-title,
.single-product .col-title,
.wrps_related_products_area_title {
    color: black;
	color: #8c2121;
    font-size: 24px;
	padding-right: 5%;
}

.single-product .col-title{
	color: #8c2121;
}

.sidebar .formTitle.col-title{color: black;}
.sidebar .feedback>.formContainer{margin-top: 0 !important}
.sidebar .summary .woocommerce-product-details__short-description p{margin-bottom:0 !important;}
.sidebar .wishListWrapper{margin: 0 !important;}
.sidebar .summary{margin-bottom: 0 !important;}

.categoryProductsContainer .sidebar .col-title,
.single-product .product .sidebar .col-title {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
    padding-bottom: 20px;
}


.wrps_related_products_area_title {
    font-weight: bold;
}


.categoryProductsContainer > div {
    padding: 0;
}

.categoryProductsContainer .col-title span {
    color: #999;
}

.categoryProductsList ul.products li.product {
    /*width: 33%;*/
	width: 25%;
    margin-bottom: 0;
}

.categoryProductsList ul.products li.product .inbox .caption {
    margin: 0px;
    padding: 0px;
}

.categoryProductsList ul.products li.product .inbox .caption h2 {
    text-align:  initial;
    color: gray;
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
}

.categoryProductsList ul.products li.product  .shortDescr,
.categoryProductsList ul.products li.product  .shortDescr * {
    color: black;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*  Accordion styles  */
.subcatsAccordion h3 {
    color: black;
    font-size: 16px;
    margin: 0px;
    line-height: 40px;
}

.subcatsAccordion .accordion h3 {
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.subcatsAccordion .accordion h3:focus {
    outline:0;
}

.subcatsAccordion .accordion h3.open {
    border-bottom: none;
}

.subcatsAccordion .accordion .accordion-content {
    border-bottom: 1px solid lightgray;
}

.subcatsAccordion li a {
    color: black;
}

.subcatsAccordion li a.active {
    color: #999;
}

.subcatsAccordion .accordion-title .minus  {
    display: none;
}

.subcatsAccordion .accordion-title .plus  {
    display: inline-block;
}

.subcatsAccordion .accordion-title.open .minus  {
    display: inline-block;
}

.subcatsAccordion .accordion-title.open .plus  {
    display: none;
}

.subcatsAccordion .accordion-title .title {
    float: right;
}

.subcatsAccordion .accordion-title .sign {
    float: left;
    font-size: 26px;
    
}

.subcatsAccordion li {
    list-style:  none;
}


.overlayProductGalleryWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: auto;
    height: 20px;
    line-height: 20px;
    text-align: center;
    opacity: 0;
    z-index: 10000;
}


.categoryProductsList .products .product .overlay-title {
    height: 0px;
    line-height: 80px;
    /*justify-content: space-around;*/
}

.categoryProductsList .products .product .overlay-image {
    cursor: pointer;
}

.woocommerce .categoryProductsList .products .product .overlay-title a.button {
    margin: -80px 0 0;
    height: 70px;
    width: 70px;
    background-color: rgba(255,255,255, 0.6) !important;
    border-radius: 40px !important;
    border-width: 0px !important;
    border: none;
    color: black;
    font-size: 14px !important;
    line-height: 80px;
    padding: 0px 6px !important;
    color: #555 !important;
}

.woocommerce .categoryProductsList .products .product .overlay-title a.button.productGalleryLink span {
    font-size: 26px;
}


.woocommerce .categoryProductsList .overlay-title svg {
    height: 80px;
    width: 30px;
    display: inline-block; 
    fill: #555; 
}

/* Hide 'Zoom\Slideshow' panel in prodict images slider */
.single-product .a3dg-navbar-control { 
    display: none;
}

.woocommerce.single-product #content  .product .images,
.woocommerce.single-product #content  .product .summary
{
    width: 100%;
}


.single-product .product_title {
    border-bottom: 1px solid lightgray;
}

.single-product #main .product {
    /*padding: 0px;*/
}

#main .product .column {
    padding: 0px;
}



/*  Form styles */

.formContainer {
    margin-top: 46px;
}

.sidebar .formWrapper h3.col-title.formTitle {
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.formContainer button {
    width: 100%;
}

.formContainer form {
    padding: 0px 5px;
}

.formContainer .showLabel {
    padding-top: 25px;
}

.formContainer .showLabel > label {
    display: block !important;
    height: 20px !important;
    line-height: 20px !important;
    top: 5px;
    left:  0px;
    width: 100%  !important;
    z-index: 10000;
    clip: inherit !important;
}

/* Menu styles */

#menu-main .sub-menu,
#menu-main-2 .sub-menu
{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
}

#menu-main .sub-menu li,
#menu-main-2 .sub-menu li
{
    padding-right: 12px;
    border-bottom: 1px solid lightgray;
}

#menu-main-3 {
    background: white;
}


/* Header styles */
.sticky-header {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.sticky-header .logo-img {
    width: 100%;
}

.sticky-header .logo-img .logo-img-secondary {
    height: auto;
}

.sticky-header .container .logo {
    padding: 5px 0px;
}

.singleProductDescrBottomWidgetZone {
    min-height: 60px;
}

.singleProductDescrBottomWidgetZone .norm_row {
    width: 100% !important;
    text-align: initial !important;
    
}


.rtl .a3dg-preloads {
    right: 9000px !important;
}

.a3-dgallery .a3dg-image-wrapper .a3dg-image img {
    width: 1200px !important;
}

.sfsi_footerLnk {
    display: none;
}


.wishListWrapper {
    margin: 30px 0;
}

.woocommerce .wishListWrapper button.button.single_add_to_cart_button {
    /*background-color: #b9d54b;
    width: 100%;
    border: none;*/
}

.woocommerce .wishListWrapper button.button.single_add_to_cart_button:hover {
    /*background: #c9e55b;
    color: white;*/
}

.greenYellowBtn {
    opacity: 1 !important;
    color: white !important;
    background-color: #b9d54b !important;
    border: none !important;
}
.greenYellowBtn:hover {
     background: #c9e55b !important;
    color: white !important;
}

.woocommerce-page #content div.product .wishListWrapper form.cart div.quantity {
    display: none;
}

.woocommerce ul.products .product .inbox .image-link .onsale,
.woocommerce-page ul.products .product .inbox .image-link .onsale {
    min-height: 5em;
    min-width: 5em;
    line-height: 5;
    font-size: 0.7em;
    background: rgba(185, 213, 75, 0.6) !important;
}

nav li.menu-wishlist a {
    display: none;
}


/*  Hide price */
.wpb_wrps_price, .wpb_wrps_onsale {
    display: none;
}


/* Woocommerce cart page */
.woocommerce-cart.woocommerce-page .entry-title {
    color: #8c2121;
}

.woocommerce-cart table.cart img {
	width: 150px;
}

.woocommerce-cart .product-name a {
	color: black;
	font-weight: bold;
}

.greenYellowBtn.button, .greenYellowBtn.button:hover{
	background-color: #8c2121 !important;
}

.coupon{display: none !important;}

/* Responsive styles */
@media all and (max-width: 992px) {
    .categoryProductsList ul.products li.product {
        width: 50%;
    }
    
    .woocommerce-breadcrumb {
        line-height: 20px;
    }
}

@media all and (max-width: 798px) {
    .categoryProductsList ul.products li.product {
        width: 100%;
    }
    
    .logo-img-secondary {
        width: auto !important;
    }
}

@media all and (max-width: 1258px) {
    .sticky-header .sf-menu>li>a {
        padding: 0 14px;
    }
}

@media all and (max-width: 1077px) {
    .sticky-header .sf-menu>li>a {
        padding: 0 10px;
        font-size: 16px;
    }
}

@media all and (min-width: 992px) {
    #container .sticky-header .container .logo {
        width: 100px !important;
    }
}


@media all and (min-width: 798px) {
    .woocommerce div.quantity, .woocommerce-page #content div.quantity, .woocommerce-page div.quantity {
        max-width: 80px;
    }
}



/* Icons */
.wishlistIcon img {
    height: 30px;
}


/*  Hide WooCommerce notices */
.woocommerce-message {
    display: none;
}

.wishlistInfo {
    color: gray;
    font-size: 16px;
    line-height: 18px;
    margin: 20px 0;
}

.wishlistInfo a {
    font-weight: bold;
    font-size: 18px;
}
/* ------------------------------ */

.woocommerce ul.products li.product .inbox .image-link,
.woocommerce-page ul.products li.product .inbox .image-link {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out
}
.woocommerce ul.products li.product .inbox .image-link img,
.woocommerce-page ul.products li.product .inbox .image-link img {
    margin: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.woocommerce ul.products li.product .inbox .image-link .overlay-image+.overlay-title .button,
.woocommerce-page ul.products li.product .inbox .image-link .overlay-image+.overlay-title .button {
    background: 0 0;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    border: 2px solid;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    display: inline-block
}
.woocommerce ul.products li.product .inbox .image-link .overlay-image+.overlay-title .added_to_cart,
.woocommerce-page ul.products li.product .inbox .image-link .overlay-image+.overlay-title .added_to_cart {
    display: block
}
.woocommerce ul.products li.product .inbox .image-link:hover img,
.woocommerce-page ul.products li.product .inbox .image-link:hover img {
    opacity: .5;
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06)
}
.image-link {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out
}
.image-link img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.image-link:hover img {
    opacity: .2;
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06)
}
.image-link:hover .overlay-image {
    opacity: 1
}
.image-link:hover .overlay-image+.overlay-title {
    opacity: 1
}
.image-link .overlay-image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in .1s;
    transition: all .3s ease-in .1s
}
.image-link .overlay-image+.overlay-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: auto;
    height: 20px;
    line-height: 20px;
    text-align: center;
    opacity: 0
}
.image-link .overlay-image+.overlay-title figcaption {
    border-style: solid;
    border-width: 2px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    display: inline-block
}

.yith-wcwl-add-button a{
	background-color: #8c2121 !important;
}

.images.gallery_container .product_gallery .lazy-load{
    background-color: transparent !important;
}

.pojo-menu-search:hover form{
	position: absolute;
    z-index: 100;
    width: 200px;
    left: 0;
	top: 5px;
    background-color: #fff;
	display: block;
}

.pojo-menu-search{
	width: 57px;
	height: 50px;
	overflow: hidden; 
}

.pojo-menu-search:hover{
	overflow: visible; 
}

.pojo-menu-search:hover input[type=search]{
	opacity: 1;
    width: 170px;
    border: 1px solid;
    cursor: text;
	display: block;
}

.pojo-menu-search input{
	display: none;
}

.pojo-menu-search .menu-search-input:before{
	line-height: 35px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	padding: 5px!important;
}

.woocommerce ul.products, .woocommerce-page ul.products{
	margin: 0 !important;
	padding-right: 5%;
	padding-top: 60px;
}

.inbox *{text-align: center;}

/**
 * cart customization
 */


@media (max-width: 767px){
	li.menu-item-4178>a>span:before{
		position: relative;
		content: '\f07a';
		font-family: fontawesome;
		background-color: #fff;
		width: 30px;
		height: 50px;
		z-index: 1000;
    	right: 0;
    	display: block;
    	text-align: center;
    	margin-bottom: -50px;
	}
}

@media (min-width: 768px){
	li.menu-item-4178>a>span:before{
		position: absolute;
		content: '\f07a';
		font-family: fontawesome;
		background-color: #fff;
		width: 20px;
		height: 30px;
		z-index: 1000;
	}

	.woocommerce ul.products li.product a img{max-height: 215px; margin: 0 auto !important; width: auto !important;}
}

.col-md-3 .subcatsAccordion{padding-right: 15px;}