/*! titanium - v4.0.11 - 19-11-2017 */
/* = RTL
----------------------------------------------- */
.rtl {
  /* Landscape phone to portrait tablet */
}
.rtl .sd-title span,
.rtl .title-comments span,
.rtl .title-respond span,
.rtl .pb-widget-title span {
  padding-left: 10px;
  padding-right: 0;
}
.rtl .pojo-loadmore-wrap .pojo-loading:before,
.rtl .pojo-loading-wrap .pojo-loading:before {
  margin-left: 5px;
  margin-right: 0;
}
.rtl #sidebar .widget-title span {
  padding-left: 10px;
  padding-right: 0;
}
.rtl #sidebar .recent-post.small-thumbnail .pull-left.image-link,
.rtl #sidebar-footer .recent-post.small-thumbnail .pull-left.image-link {
  margin-left: 10px;
  margin-right: 0;
}
.rtl .align-pagination {
  text-align: left;
}
.rtl #header.logo-right #logo {
  float: left;
}
.rtl #header.logo-right #widget-header {
  float: right;
}
.rtl #header.logo-right #widget-header .widget {
  text-align: right;
}
.rtl #header.logo-right #widget-header ul.social-links li {
  margin-right: 0;
  margin-left: 6px;
}
.rtl #header.logo-left #logo {
  float: right;
}
.rtl #header.logo-left #widget-header {
  float: left;
}
.rtl #header.logo-left #widget-header .widget {
  text-align: left;
}
.rtl #header.logo-left #widget-header ul.social-links li {
  margin-right: 6px;
  margin-left: 0;
}
.rtl .sf-menu li {
  float: right;
}
.rtl .sf-menu > li > a {
  margin-right: 2px;
  margin-left: 0;
}
.rtl .sf-menu > li:first-child > a {
  margin-right: 0;
}
.rtl .sf-menu .sub-menu .sf-sub-indicator {
  float: left;
}
.rtl .sf-menu li:hover ul,
.rtl .sf-menu li.sfHover ul {
  left: auto;
  right: 0;
}
.rtl ul.sf-menu li li:hover ul,
.rtl ul.sf-menu li li.sfHover ul,
.rtl ul.sf-menu li li li:hover ul,
.rtl ul.sf-menu li li li.sfHover ul {
  left: auto;
  right: 15em;
  /* match ul width */
}
.rtl .nav-main .navbar-collapse {
  float: right;
}
.rtl .nav-main .menu-search {
  float: left;
}
.rtl .nav-main .menu-search .form-search {
  right: auto;
  left: 0;
}
.rtl #primary #content #main.sidebar-left {
  float: left;
}
.rtl #primary #content #main .entry-meta .read-more {
  float: left;
  margin-right: 0;
  margin-left: 6px;
}
.rtl .grid-item .image-link .entry-meta,
.rtl .small-thumbnail .image-link .entry-meta {
  left: auto;
  right: 3px;
}
.rtl .image-link:hover .entry-meta {
  -moz-transform: scale(1) translateX(999px);
  -webkit-transform: scale(1) translateX(999px);
  -o-transform: scale(1) translateX(999px);
  -ms-transform: scale(1) translateX(999px);
  transform: scale(1) translateX(999px);
}
.rtl .media .pull-left {
  margin-right: 0;
  margin-left: 15px;
}
.rtl .single-gallery-content-left .gallery-thumbnail {
  float: left;
}
.rtl .single-gallery-content-left .gallery-content {
  float: right;
}
.rtl #sidebar .menu li,
.rtl #sidebar .sub-menu li,
.rtl #sidebar .sub-page-menu li {
  list-style: none;
}
.rtl #sidebar .menu li a,
.rtl #sidebar .sub-menu li a,
.rtl #sidebar .sub-page-menu li a {
  background-image: url(../images/ul-rtl.png);
  background-position: 95% center;
  padding: 0.5em 10% 0.5em 0;
}
.rtl #sidebar ul li,
.rtl #sidebar-footer ul li {
  list-style-image: url(../images/ul-rtl.png);
}
.rtl .opening-hours-wrap .day-row .day-title {
  float: right;
}
.rtl .opening-hours-wrap .day-row .day-time {
  float: left;
  text-align: left;
}
.rtl ul.social-links li {
  margin-left: 6px;
  margin-right: 0;
}
.rtl .form-search input {
  left: auto;
  right: 0;
  padding: 0 9px 0 0;
}
.rtl .form-search button {
  left: 0;
  right: auto;
}
.rtl .commentlist ul li {
  padding-right: 20px;
  padding-left: 0;
}
.rtl .commentlist .comment-reply-link:before {
  margin-right: 0;
  margin-left: 5px;
}
.rtl .nav-main .pojo-menu-cart li.cart-content a img {
  float: left;
  margin-right: 10px;
  margin-left: 0;
}
.rtl .nav-main .pojo-menu-cart li.cart-checkout .cart-link {
  float: right;
}
.rtl .nav-main .pojo-menu-cart li.cart-checkout .checkout-link {
  float: left;
}
.rtl .pull-left {
  float: right !important;
}
.rtl .pull-right {
  float: left !important;
}
.rtl .col-sm-1,
.rtl .col-sm-2,
.rtl .col-sm-3,
.rtl .col-sm-4,
.rtl .col-sm-5,
.rtl .col-sm-6,
.rtl .col-sm-7,
.rtl .col-sm-8,
.rtl .col-sm-9,
.rtl .col-sm-10,
.rtl .col-sm-11,
.rtl .col-md-1,
.rtl .col-md-2,
.rtl .col-md-3,
.rtl .col-md-4,
.rtl .col-md-5,
.rtl .col-md-6,
.rtl .col-md-7,
.rtl .col-md-8,
.rtl .col-md-9,
.rtl .col-md-10,
.rtl .col-md-11 {
  float: right;
}
@media (max-width: 767px) {
  .rtl .col-sm-1,
  .rtl .col-sm-2,
  .rtl .col-sm-3,
  .rtl .col-sm-4,
  .rtl .col-sm-5,
  .rtl .col-sm-6,
  .rtl .col-sm-7,
  .rtl .col-sm-8,
  .rtl .col-sm-9,
  .rtl .col-sm-10,
  .rtl .col-sm-11,
  .rtl .col-md-1,
  .rtl .col-md-2,
  .rtl .col-md-3,
  .rtl .col-md-4,
  .rtl .col-md-5,
  .rtl .col-md-6,
  .rtl .col-md-7,
  .rtl .col-md-8,
  .rtl .col-md-9,
  .rtl .col-md-10,
  .rtl .col-md-11 {
    float: none;
  }
  .rtl #header #logo {
    float: none;
  }
  .rtl #header.logo-right #logo {
    float: none;
  }
  .rtl #header.logo-right #logo .logo-img,
  .rtl #header.logo-right #logo .logo-text {
    float: left;
  }
  .rtl #header.logo-right #logo .navbar-toggle {
    float: right;
  }
  .rtl #header.logo-left #logo {
    float: none;
  }
  .rtl #header.logo-left #logo .logo-img,
  .rtl #header.logo-left #logo .logo-text {
    float: right;
  }
  .rtl #header.logo-left #logo .navbar-toggle {
    float: left;
  }
  .rtl .nav-main {
    float: none;
  }
  .rtl .nav-main .navbar-collapse {
    float: none;
  }
  .rtl #primary #content #main.sidebar-left,
  .rtl #primary #content #main.sidebar-right {
    float: none;
  }
  .rtl .single-gallery-content-left .gallery-thumbnail,
  .rtl .single-gallery-content-left .gallery-content {
    float: none;
  }
  .rtl .alignright,
  .rtl .alignleft {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .rtl .media .pull-left,
  .rtl .media .pull-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .rtl #copyright {
    text-align: center;
  }
}
