@import "../../../atlanta/assets/css/style.min.css";

/* Your CSS code goes here
-------------------------------------- */
.pojo-form .form-message{
    font-size: 1.6em;
}
#header .right-menu{
    padding-left: 25px !important;
}
#header .left-menu-cont{
    padding-right: 25px !important;
}

#header .right-menu{
    justify-content: flex-end !important;
} 
#header .left-menu{
    justify-content: flex-start !important;
}
#header .right-menu li+li{
    padding-right: 25px;
}
#header .left-menu li+li{
    padding-left: 25px;
}
.sticky-header{
    overflow: hidden;
}
.sticky-header.logo-left .nav-main,
.rtl .sticky-header.logo-left .nav-main{
    float: none !important;
    overflow: hidden;
}
.phone-button{
    display: none;
    position: absolute;
    left: 0;
    bottom: 15px;
}
.phone-button .image-text-body{
    display: none;
}
.logo.logom{
    position: relative;
}
.cont_a_menu .pojo-image-text a{
    display: inline-block;
    line-height: 0;
    font-size: 0;
    width: 35px;
    height: 35px;
}
.cont_a_menu .pojo-image-text a img{
    float: none;
}

















@media (max-width: 1370px) {
    #header .right-menu li+li{
        padding-right: 15px;
    }
    #header .left-menu li+li{
        padding-left: 15px;
    }
    #header .right-menu a,
    #header .left-menu a{
        font-size: 15px;
        white-space: nowrap;
    }
}
@media (max-width: 1250px) {
    .cont_a_menu{
        justify-content: center;
    }
    #header .left-menu-cont, #header .right-menu{
        width: auto;
    }
    .cont_a_menu .img-cont.logod{
        flex: 0 0 auto;
    }
}
@media (max-width: 767px) {
    .cont_a_menu{
        display: none !important;
    }
    body #pojo-a11y-toolbar{
        top: 208px !important;
    }
    .phone-button{
        display: block;
    }
}
#wpadminbar{
    overflow: hidden;
}

