/*! toscana - v4.0.11 - 19-11-2017 */
body.rtl {
  /* XLarge desktop */
  /* Large desktop */
  /* landscape tablet and desktop */
  /* Landscape phone to portrait tablet */
}
body.rtl .sd-title,
body.rtl .title-comments,
body.rtl .title-respond,
body.rtl .pb-widget-title,
body.rtl .widget-title {
  position: relative;
}
body.rtl .sd-title:after,
body.rtl .title-comments:after,
body.rtl .title-respond:after,
body.rtl .pb-widget-title:after,
body.rtl .widget-title:after {
  right: 0;
  left: auto;
}
body.rtl .pojo-loadmore-wrap .pojo-loading:before,
body.rtl .pojo-loading-wrap .pojo-loading:before {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .sf-menu li:hover ul,
body.rtl .sf-menu li.sfHover ul {
  right: 100%;
  left: auto;
}
body.rtl .sf-menu .sub-menu:before {
  right: 0;
  left: auto;
  margin-right: -10px;
  margin-left: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
body.rtl #title-bar .breadcrumbs {
  text-align: left;
}
body.rtl #primary #content #main.sidebar-left {
  float: left;
}
body.rtl .entry-meta .read-more {
  float: left;
}
body.rtl .media > .pull-left {
  margin-right: 0;
  margin-left: 15px;
}
body.rtl .media > .pull-right {
  margin-right: 15px;
  margin-left: 0;
}
body.rtl .author-info .author-avatar {
  margin-left: 30px;
  margin-right: 0;
}
body.rtl .single-gallery-content-left .gallery-thumbnail {
  float: left;
}
body.rtl .single-gallery-content-left .gallery-content {
  float: right;
}
body.rtl .opening-hours-wrap .day-row .day-title {
  float: right;
}
body.rtl .opening-hours-wrap .day-row .day-time {
  float: left;
  text-align: left;
}
body.rtl ul.social-links li {
  margin-left: 3px;
  margin-right: 0;
}
body.rtl .form-search button {
  left: 0;
  right: auto;
}
body.rtl .commentlist ul li {
  padding-right: 20px;
  padding-left: 0;
}
body.rtl .commentlist .comment-reply-link:before {
  margin-right: 0;
  margin-left: 5px;
}
body.rtl.woocommerce div.product > span.onsale,
body.rtl .woocommerce div.product > span.onsale,
body.rtl.woocommerce #content div.product > span.onsale,
body.rtl .woocommerce #content div.product > span.onsale {
  right: 0;
  left: auto;
}
body.rtl .pull-left {
  float: right !important;
}
body.rtl .pull-right {
  float: left !important;
}
body.rtl .navbar-toggle {
  float: left;
}
body.rtl .col-sm-1,
body.rtl .col-sm-2,
body.rtl .col-sm-3,
body.rtl .col-sm-4,
body.rtl .col-sm-5,
body.rtl .col-sm-6,
body.rtl .col-sm-7,
body.rtl .col-sm-8,
body.rtl .col-sm-9,
body.rtl .col-sm-10,
body.rtl .col-sm-11,
body.rtl .col-md-1,
body.rtl .col-md-2,
body.rtl .col-md-3,
body.rtl .col-md-4,
body.rtl .col-md-5,
body.rtl .col-md-6,
body.rtl .col-md-7,
body.rtl .col-md-8,
body.rtl .col-md-9,
body.rtl .col-md-10,
body.rtl .col-md-11,
body.rtl .col-lg-1,
body.rtl .col-lg-2,
body.rtl .col-lg-3,
body.rtl .col-lg-4,
body.rtl .col-lg-5,
body.rtl .col-lg-6,
body.rtl .col-lg-7,
body.rtl .col-lg-8,
body.rtl .col-lg-9,
body.rtl .col-lg-10,
body.rtl .col-lg-11 {
  float: right;
}
@media (min-width: 1200px) {
  body.rtl #sidebar-footer .widget {
    border-left: 1px solid;
    border-right: none;
  }
  body.rtl #sidebar-footer .widget:last-child {
    border-left: none;
  }
}
@media (min-width: 992px) {
  body.rtl #container {
    margin-right: 300px;
    margin-left: 0;
  }
  body.rtl.pojo-page-blank #container {
    margin: 0;
  }
  body.rtl #main.sidebar-right + #sidebar {
    padding-right: 40px;
    padding-left: 15px;
  }
  body.rtl #main.sidebar-left + #sidebar {
    padding-left: 40px;
    padding-right: 15px;
  }
  body.rtl.layout-full-width .single-gallery-content-right .gallery-content {
    padding-right: 50px;
    padding-left: 15px;
  }
  body.rtl.layout-full-width .single-gallery-content-left .gallery-content {
    padding-left: 50px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body.rtl #container {
    margin-right: 240px;
    margin-left: 0;
  }
  body.rtl.pojo-page-blank #container {
    margin: 0;
  }
}
@media (min-width: 768px) {
  body.rtl #header {
    right: 0;
    left: auto;
  }
  body.rtl .full-width #list-items .media > .pull-right,
  body.rtl .full-width .list-items .media > .pull-right {
    margin-right: 60px;
    margin-left: 0;
  }
  body.rtl.single .entry-header.col-sm-3 {
    padding-right: 0;
    padding-left: 15px;
  }
  body.rtl.single .entry-content.col-sm-9 {
    padding-right: 15px;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  body.rtl .col-sm-1,
  body.rtl .col-sm-2,
  body.rtl .col-sm-3,
  body.rtl .col-sm-4,
  body.rtl .col-sm-5,
  body.rtl .col-sm-6,
  body.rtl .col-sm-7,
  body.rtl .col-sm-8,
  body.rtl .col-sm-9,
  body.rtl .col-sm-10,
  body.rtl .col-sm-11,
  body.rtl .col-md-1,
  body.rtl .col-md-2,
  body.rtl .col-md-3,
  body.rtl .col-md-4,
  body.rtl .col-md-5,
  body.rtl .col-md-6,
  body.rtl .col-md-7,
  body.rtl .col-md-8,
  body.rtl .col-md-9,
  body.rtl .col-md-10,
  body.rtl .col-md-11,
  body.rtl .col-lg-1,
  body.rtl .col-lg-2,
  body.rtl .col-lg-3,
  body.rtl .col-lg-4,
  body.rtl .col-lg-5,
  body.rtl .col-lg-6,
  body.rtl .col-lg-7,
  body.rtl .col-lg-8,
  body.rtl .col-lg-9,
  body.rtl .col-lg-10,
  body.rtl .col-lg-11 {
    float: none;
  }
  body.rtl #title-bar .title-primary,
  body.rtl #title-bar .breadcrumbs {
    text-align: center;
  }
  body.rtl #primary #content #main.sidebar-left,
  body.rtl #primary #content #main.sidebar-right {
    float: none;
  }
  body.rtl .media .pull-left,
  body.rtl .media .pull-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
  }
  body.rtl .single-gallery-content-left .gallery-thumbnail,
  body.rtl .single-gallery-content-left .gallery-content {
    float: none;
  }
  body.rtl.woocommerce h1.page-title,
  body.rtl.woocommerce-page h1.page-title,
  body.rtl.woocommerce #breadcrumbs,
  body.rtl.woocommerce-page #breadcrumbs {
    float: none;
  }
  body.rtl #copyright {
    text-align: center;
  }
}
